@font-face {
    font-family: 'National Park';
    font-style: normal;
    font-weight: normal;
    src: url('/NationalPark/NationalPark-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'National Park Outline';
    font-style: normal;
    font-weight: normal;
    src: url('/NationalPark/NationalPark-Outline.otf') format('opentype');
}

@font-face {
    font-family: 'National Park';
    font-style: normal;
    font-weight: 100;
    src: url('/NationalPark/NationalPark-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'National Park';
    font-style: normal;
    font-weight: bold;
    src: url('/NationalPark/NationalPark-Heavy.otf') format('opentype');
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* This is a hack to get it looking good on mobile. Fix this!
    */
    min-width: 500px; 
}

.card-fullscreen {
    z-index: 9999; 
    width: 90%; 
    height: auto; 
    /*position: fixed;*/
    /*top: -20px;*/
    /*left: -20px;*/
    /*overflow: scroll;*/
    position: relative;
    background-color: #424242;

    justify-content: center;
    text-align: center;
    /*display: flex;*/
    margin: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,.19)!important;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.card-fullscreen >* .card-title {
    /*color: rgba(48, 48, 48, 0.56);;*/
    z-index: 100;
    font-size: 60px;
    font-weight: 400;
    /*text-shadow: 1px 3px 2px rgba(0,0,0,0.2);*/
}

.card-fullscreen > .title-wrapper {
    /*height: 250px;*/
    display: flex;
    flex-direction: column;
}

.card-fullscreen >* .card-sub-title {
    /*color: #0000006b;*/
    font-size: 20px;
    line-height: 10px;
    font-weight: 200;
    flex-grow: 0.5;
}

.card-fullscreen > .icon-button {
    z-index: 1000;
}

.card-image {
    height: 250px;
    flex: 1 0 100%;
    width: 100%;    
    object-fit: cover;
    object-position: 0 0;
    transition: transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.card-image-loader {
    animation: fade 1s infinite;
}

@-webkit-keyframes fade {
    0% {opacity: 0.2} 
    50% {opacity: 0.6; transform: scale(1.2)}
    100% {opacity:0.2}
}
    
@-moz-keyframes fade {
    0% { opacity: 0.2 } 
    50% { opacity: 0.6; transform: scale(1.2) }
    100% { opacity:0 }  
}

@keyframes fade {
      0% { opacity: 0.2 } 
      50% { opacity: 0.6; transform: scale(1.2) }
      100%{ opacity: 0.2 }
}

@-o-keyframes fade {
    0% {opacity: 0.2} 
    50% {opacity: 0.6; transform: scale(1.2)}
    100%{opacity: 0.2}
}

.shine {
    animation: shine 1s infinite;
}

@-webkit-keyframes shine {
    0% {filter: brightness(70%)} 
    50% {filter: brightness(100%)}
    100%{filter: brightness(70%)}
}
    
@-moz-keyframes shine {
    0% {filter: brightness(70%)} 
    50% {filter: brightness(100%)}
    100%{filter: brightness(70%)}
}
    
@keyframes shine {
    0% {filter: brightness(70%)} 
    50% {filter: brightness(100%)}
    100%{filter: brightness(70%)}
}

@-o-keyframes shine {
    0% {filter: brightness(70%)} 
    50% {filter: brightness(100%)}
    100%{filter: brightness(70%)}
}

.card-fullscreen > .card-description {
    height: auto;
}


.icon-button {
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgba(0, 0, 0, 0.34);
}
.icon-button > i {
    font-size: 20px;
}
.icon-button:hover {
    background-color: rgba(63, 63, 63, 0.28);
}

@keyframes spin {
to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
to { -webkit-transform: rotate(360deg); }
}