header {
    background-color: #212121;
    color: rgb(233, 232, 232);
}

dark-header {
    background-color: #000000;
    color: rgb(233, 232, 232);
}

body {
    background-color: #303030;
    color: rgb(233, 232, 232);
    font-family: 'Roboto'
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-icon {
    color: #929292;
}

.units {
    color: #bebebe;
    font-size: 0.65em;
    margin: 2px;
}

.card {
    position: relative;
    background-color: #424242;
    width: 400px;
    height: 600px;
    justify-content: center;
    text-align: center;
    /*display: flex;*/
    margin: 25px;
    padding: 0px 10px 10px 10px;
    border-radius: 4px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,.19)!important;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0,.19)!important;
}

.card-fullscreen {
    z-index: 9999; 
    width: 90%; 
    height: 2000px; 
    /*position: fixed;*/
    /*top: -20px;*/
    /*left: -20px;*/
    overflow: scroll;
    position: relative;
    background-color: #424242;

    justify-content: center;
    text-align: center;
    /*display: flex;*/
    margin: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,.19)!important;
    transition: all 0.75s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@media (max-width:600px)  {
    .card {
        width: 80%;
    }
}

.card-photo {
    border-color: #000000;
    position: absolute;
    left: 160px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0,.19)!important;
    z-index: 100;
    margin-bottom: -40px;
    top: -40px;
    overflow: hidden;
    object-fit: cover;
}

.card-stats {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #bebebe86;
    border-top: 1px solid #bebebe86;
    position: relative;
    /*top: -90px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
}


.card-stat {
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    transition: ease-in-out 0.2s all;
    width: 70px;
    white-space: nowrap;
    height: 35px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
.card-stat:hover {
    font-size: 1.15em;
    text-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0,.22);
}

.card-fullscreen >* .card-title {
    color: rgba(48, 48, 48, 0.56);;
    z-index: 100;
    font-size: 60px;
    font-weight: 300;
    /*text-shadow: 1px 3px 2px rgba(0,0,0,0.2);*/
}

.card-title {
    /*margin: 5px;*/
    padding: 2px;
    font-size: 30px;
    font-weight: 100;
    /*font-family: 'Roboto script=all rev=1';*/
    /*letter-spacing: -1.5px;*/
    /*top: -95px;*/
    position: relative;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    letter-spacing: 6px;
    flex-grow: 3;
}

.card-fullscreen > .title-wrapper {
    height: 250px;
    display: flex;
    flex-direction: column;
}

.card-fullscreen >* .card-sub-title {
    color: #0000006b;
    font-size: 20px;
    line-height: 10px;
    font-weight: 200;
    flex-grow: 0.5;
}

.card-fullscreen > .icon-button {
    z-index: 1000;
}

.card-fullscreen >* .card-sub-title > i {
    color: rgba(0, 0, 0, 0.253);
}

.card-sub-title {
    /*margin: 5px;*/
    margin-bottom: 10px;
    padding: 1px;
    font-size: 12px;
    font-weight: 100;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 2px;
}

.card > .card-image-wrapper {
    height: 250px;
    /*width: 400px;*/
    position: relative;
    overflow: hidden;
    display: flex;
    /*top: -40px;*/
    margin: 0 -10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: 10px;
}
.card-fullscreen > .card-image-wrapper {
    height: 250px;
    /*width: 400px;*/
    position: absolute;
    top: 0;
    overflow: hidden;
    display: flex;
    /*top: -40px;*/
    margin: 0 -10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: 10px;
    z-index: -1;
}

.card-fullscreen > .card-image-wrapper:after {
    height: 250px;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    display: flex;
    /*top: -40px;*/
    margin: 0 -10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    margin-bottom: 10px;
    content: "";
    background-color: rgba(147, 165, 187, 0.38);
    z-index: 1;
}

.card-image {
    height: 250px;
    width: 100%;    
    object-fit: cover;
    object-position: 0 0;
    transition: transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.card-image-overlay {
        position: absolute;
        top: 100px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        z-index: 200;
}
.card-image-overlay > i {
    font-size: 3em;
    z-index: 200;
    margin: 10px;
}

.card-image-overlay:hover {
    opacity: 0.5;
}

.card-description {
    font-family: Roboto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 0.9em;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 200px;
}


.icon-button {
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgba(0, 0, 0, 0.34);
}
.icon-button > i {
    font-size: 20px;
}
.icon-button:hover {
    background-color: rgba(63, 63, 63, 0.28);
}


.graph-wrapper {
    height: 250px;
    /*width: 400px;*/
    position: relative;
    overflow: hidden;
    display: flex;
    /*top: -40px;*/
    margin-bottom: 10px;
    margin-top: 10px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
}

.graph-point {
    z-index: 100;
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #1891da;
    transition: all 1.0s cubic-bezier(0, 0.8, 0.6, 0.95);
    box-shadow: 0 5px 8px rgba(0,0,0,0.7);
}

.graph-y-line {
    z-index: -1;
    position: absolute;
    height: 100%;
    border-width: 1px;
    border-color: rgb(0,0,0,0.7);
    border-style: dotted;
    transition: all 1.0s cubic-bezier(0, 0.8, 0.6, 0.95)
}